apiVersion: v1
kind: Service
metadata:
  name: web-scraper-service
  labels:
    app: web-scraper
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: web-scraper
